BasedOnStyle: Google

IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 80

AlignAfterOpenBracket: AlwaysBreak

AlignConsecutiveAssignments:
  Enabled: false
  AcrossComments: true

AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true

AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator

SkipMacroDefinitionBody: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: false

BitFieldColonSpacing: After
BracedInitializerIndentWidth: 2

AlwaysBreakBeforeMultilineStrings: true
BreakStringLiterals: true

DerivePointerAlignment: false
PointerAlignment: Left

IncludeBlocks: Regroup
IndentCaseLabels: true
IndentCaseBlocks: false
IndentExternBlock: true
IndentGotoLabels: false
IndentPPDirectives: AfterHash
InsertTrailingCommas: Wrapped

PPIndentWidth: 2
SortIncludes: CaseSensitive

MaxEmptyLinesToKeep: 1

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
