*

!.gitignore
!.bashrc
!.clang-format
!.walls
!.config/fontconfig
!.config/hypr
!.config/nvim
!.config/waybar
!.config/alacritty
!.local/share/applications/poweroff.desktop
!.local/share/applications/suspend.desktop

