@use "sass:color";
@use "../theme.scss" as *;

.bar {
  margin: 0.5rem 1rem;

  .box {
    min-height: 2rem;

    color: $text;

    button {
      margin: 5px;

      border: none;
      border-radius: $border-radius;
      background: none;

      color: $maroon;
      font-size: 20px;

      &:hover {
        background-color: $maroon;
        color: $surface0;

        transition: 300ms linear;
      }
    }

    .workspaces {
      padding: 0 0.5rem;

      .workspace {
        border: solid 2px $maroon;

        min-width: 0.6rem;
        min-height: 0.6rem;

        transition: min-width 0.25s ease-out;

        &.active {
          background-color: $maroon;
          min-width: 1.5rem;
        }
      }
    }

    .audio {
      .icon {
        font-size: 2rem;
        margin: 0 5px;
      }
    }
  }

  .sep {
    margin: 10px;

    background-color: $overlay0;
  }
}
